@import "tailwindcss";

@font-face{
    font-family : 'Droid-Sans';
    src : url('../font/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family : 'Droid-Sans-Bold';
    src : url('../font/DroidSans-Bold.ttf');
}

@font-face{
  font-family: 'Knewave';
  src : url('../font/Knewave-Regular.ttf');
}

@font-face {
  font-family: 'CocoReg';
  src: url('../font/Cocogoose-Pro-Regular-trial.ttf');
}

@font-face {
  font-family: 'CocoDark';
  src: url('../font/Cocogoose-Pro-Darkmode-trial.ttf');
}

@font-face {
  font-family: 'CocoLight';
  src: url('../font/Cocogoose-Pro-Light-trial.ttf');
}

@font-face {
  font-family: 'CocoLightItali';
  src: url('../font/Cocogoose-Pro-Light-Italic-trial.ttf');
}

@theme {
    --font-DSans: "Droid-Sans" , sans-serif;
    --font-DSansBold : 'Droid-Sans-Bold','Noto Color Emoji', sans-serif;
    --font-Knewave : 'Knewave', sans-serif;
    --font-CocoReg : 'CocoReg', sans-serif;
    --font-CocoDark: 'CocoDark', sans-serif;
    --font-CocoLight: 'CocoLight', sans-serif;
    --font-CocoLightItali: 'CocoLightItali', sans-serif;
}

@layer components{
  .page-center{
    @apply w-full h-screen relative flex flex-col items-center justify-center ;
  }

  .section-center-row{
    @apply w-full h-full relative flex flex-row items-center justify-center;
  }

  .overlay-full{
    @apply w-full h-full absolute top-0 z-[5];
  }

  .image-simbol-1{
    @apply w-[140px] h-[140px] bg-contain absolute;
  }

  .section-center-col{
    @apply w-full h-full relative flex flex-col items-center justify-center;
  }

  .card1{
    @apply w-[15%] h-[300px] relative flex flex-col items-center justify-center gap-5 text-center text-[17px];
  }

  .card1-image{
    @apply w-full h-[50%] bg-contain;
  }

  .card2{
    @apply w-[45%] h-[40%] relative flex flex-col items-center justify-center;
  }
}

@layer utilities {
  .swiper-ease-linear .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper2 .swiper-slide {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

  .text-stroke-1 {
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 18px #FFEA00;
  }
  .text-stroke-3 {
    -webkit-text-stroke: 43px #0051FF;
  }
  .text-stroke-4 {
    -webkit-text-stroke: 2px #0037FF;
  }
  .text-stroke-5 {
    -webkit-text-stroke: 2px #FFBB00;
  }
  .text-stroke-6 {
    -webkit-text-stroke: 2px #000000;
  }
  .text-stroke-7 {
    -webkit-text-stroke: 36px #0051FF;
  }
  .text-stroke-8 {
    -webkit-text-stroke: 1.5px #000000;
  }
  .text-stroke-9{
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-10{
    -webkit-text-stroke: 18px #FFEA00;
  }
  .text-stroke-11{
    -webkit-text-stroke: 35px #0051FF;
  }
  .text-stroke-12{
    -webkit-text-stroke: 20px #0051FF;
  }
  .text-stroke-13{
    -webkit-text-stroke: 8px #FFEA00;
  }
  .text-stroke-14{
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-15{
    -webkit-text-stroke: 1px #000000;
  }
  .text-stroke-16{
    -webkit-text-stroke: 3px #000000;
  }
}

[x-cloak] {
    display: none !important;
}